<div class="container m-5">
    <div class="row">
        <div class="col" *ngIf="test">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias at deleniti quod laudantium quo tenetur
            illum rerum ex est a, minima nisi minus consectetur? Aliquid aspernatur placeat veritatis earum voluptatem.
        </div>
        <div class="col">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum nihil, officia dolor ullam deserunt
            incidunt ratione quos nostrum obcaecati et. Vel sunt suscipit placeat asperiores magni libero velit, minus
            vero?
        </div>
    </div>
</div>